/* -------- front page news -------- */

.main-content {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}


.main-content .leftCol,
.main-content .rightCol {
    width: calc(50% - 10px);
    box-sizing: border-box; 
    padding: 10px; 
}

.main-content .leftCol {
    border-right: 5px solid #ccc;
}

.main-content .rightCol {
    border-left: 5px solid #ccc;
}

#content {
    width: 600px;
    height: 100px;
}




/* -------- Responsiveness --------*/
@media screen and (max-width: 768px) {
    .main-content .sidebar,
    .main-content .content {
        width: 100%; 
        padding: 0;
    }
}
